.bg-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 40px;
  font-family: "Roboto";
}

.heading{
  color: rgb(109, 40, 173);
  margin-bottom: 40px;
  font-size: 34px;
}
.count-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
}
@media (min-width:768px){
  .count-container{ 
    width: 500px;
  }
}

@media (min-width:992px){
  .count-container{ 
    width: 650px;
  }
}


.word-count{
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.char-count{
  font-size: 20px;
  margin-bottom: 10px;
}
.input-text{
  width:50%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  height: 38px;
  font-size: 18px;
  margin-left: 10px;
}
.text-replace-button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}
.text-replace-button:hover{
  background-color:#000000;
  color: white;
}
.textarea{
  font-size: 20px;
  padding: 10px;
  width:340px;
}
@media (min-width:768px){
  .textarea{ 
    width: 500px;
  }
}
@media (min-width:992px){
  .textarea{ 
    width: 650px;
  }
}

.search-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 340px;
  margin-bottom: 20px;
  font-size: 18px;
}
@media (min-width:768px){
  .search-container{ 
    width: 500px;
  }
}
@media (min-width:992px){
  .search-container{ 
    width: 650px;
  }
}

.count-style{
  color: blue;
  font-weight: bold;
}